{% extends 'base.html' %}

{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
              Enviámos-lhe as instruções por email para redifinir a sua password, se uma conta existe com o email associado á sua conta, deverá recebe-las em breve
		  </p>
		  <p class="m-auto p-2">
              Se não recebeu um email, por favor certifique-se que tem o email correto associado com a sua conta, verifique também na sua pasta spam
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'menu' %}">Voltar para MenuPrincipal</a></p>
	</div>
</div>

{% endblock %}