{% extends 'base.html' %}


{% block content %}

<title>Reset Password</title>
<table class="center left-align" style="margin-top:10px;">
	<h1 class="center-align">Reset password</h1>

	<form method="POST" class="form-signin">
		{% csrf_token %}

		<tbody>
		<tr>
			<td><input name="email" class="form-control" placeholder="Email address" type="email" id="id_email"
					   required="true"></td>
		</tr>

		<tr>
			<td><input class="greenback-hover" type="submit" value="Enviar Email de reset"></td>
		</tr>
		</tbody>

	</form>

</table>

{% endblock %}