/*    body, html{
        height:100%;

    }*/

    body {
        margin:0px;
        margin-bottom:15px;
        padding-top: 48px;
        padding-bottom: 20px;
        background-color: #d1d1d1;

        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    body p{
         font-family: Arial, Helvetica, sans-serif;
     /*   text-align: center;*/

    }
    body title{
        font-family: Arial, Helvetica, sans-serif;
       /*   text-align: center;*/
    }

     a:link {
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }

    a:active {
      text-decoration: none;
    }

    h1,h2,h3,h4,h5,h6{
        font-family: Arial, Helvetica, sans-serif;
        color: black;
          /*   text-align: center;*/
    }

    body .lista {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      width: 200px;
      background-color: #f1f1f1;
      border-style:solid;
      border-width:0px;
      border-radius:3px;

    }

    body .lista li a {
      display: block;
      margin: 10px 0px;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
    }

    body .lista li a:hover {
      background-color: #555;
      color: white;
    }

    body input.submit{
        background-color: #333;
        border: none;
        color: white;
        width: 200px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
        transition: 0.3s;
        border-style:solid;
        border-width:0px;
        border-radius: 3px;

        text-decoration: none;
        display: inline-block;
        padding: 15px 32px;
        margin: 0;
        cursor: pointer;
    }

    body input.submit.green:hover{
      background-color: #4CAF50;
        color: white;
    }
     body input.submit.red:hover{
      background-color: #d41313;
        color: white;
    }

    .topnav {
        margin: 0;
        padding: 0;
        top:0;
        width: 100%;

        overflow: visible;
        background-color: #333;
        position: fixed;
    }

    .topbar-logo{
        width: 46px;
        height: 39px;
        overflow: hidden;
    }

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 12px 14px;
        text-decoration: none;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .topnav a:hover:not(.active) {
        background-color: #001705;
        color: white;
    }
    .topnav a:hover.red:not(.active) {
        background-color: #d41313;
        color: white;
    }

    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown .dropbtn{
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
     }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display:none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 100%;
        right: 0;

        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        font-family: 10px Arial, Helvetica, sans-serif;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
    }

    .dropdown-content a:hover {background-color: #f1f1f1}

    .dropdown:hover .dropdown-content {display: block;}

    .dropdown:hover .dropbtn {background-color: #3e8e41;}


    .sidenews {
        list-style-type: none;
        width: 15%;
        background-color: #f1f1f1;
        position: fixed;
        overflow-y: scroll;
        top: 53px;
        bottom: 25px;
        background-color: rgba(255,255,255,0.85);
    }

    .sidenews a {
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }

    .sidenews a:hover {
      background-color: #555;
      color: white;
    }

/*https://www.w3schools.com/howto/howto_css_two_columns.asp*/

    .flexrow {
        display: flex;
        flex-wrap: wrap;
    }

    .flexside{
        flex:40%
        background-color: #adadad;
        padding: 20px;
    }

    .flexmain {
        flex: 60%;
        padding: 20px;
    }


    .card {
        background-color:#f1f1f1;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
        transition: 0.3s;

        max-width: 40%;

        padding:10px;
        margin:10px;
        border-style:solid;
        border-width:0px;
        border-radius: 9px;
    }

    .card:hover {
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.8);
    }

    .container {
        padding: 2px 16px;
    }

    .card title{
        width:inherit;
        overflow:hidden;
        text-overflow:ellipsis;
    }

    .vote{

    }
    .vote img{
        width:10px;
        height:10px;
    }

    .vote:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }








    .footer {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 25px;
        background-color: #333;
        color: white;
        text-align: center;
    }

    .footer a {
        float:right;
        color: white;
        text-align: center;
        padding: 3px 16px;
        text-decoration: none;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .footer a:hover { background-color: #4CAF50;}