/*    body, html{
        height:100%;

    }*/

    img.profilepic{
        width: auto;
        height:auto;

        margin:auto;

        max-height: 200px;
        max-width: 200px;
        border: 1px solid black;
        border-radius: 4px;
    }


    .center {
        margin: auto !important;
    }

    .left-align{
        text-align:left !important;
    }
    .right-align{
        text-align:left !important;
    }
    .center-align{
        text-align:center !important;
    }

    .padding-hover:hover{
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
    .greyback-hover:hover{
        background-color: #919191 !important;
        color: black;
        transition: 0.2s;
    }
    .greenback-hover:hover{
        background-color: #4CAF50 !important;
        color: white;
        transition: 0.2s;
    }
    .redback-hover:hover{
        background-color: #d41313 !important;
        color: white;
        transition: 0.2s;
    }

    .greenback{
        background-color: #4CAF50 !important;
        color: white;
    }
    .redback{
        background-color: #d41313 !important;
        color: white;
    }
    .greyback{
        background-color: #919191 !important;
        color: white;
    }

    .shadow-border{
        box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.8), 0 4px 8px 0 rgba(0,0,0,0.3);
        transition:0.2s;
    }

    .shadow-border:hover{
        box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.8),0 6px 10px 0 rgba(0,0,0,0.8);
        border-radius:15px;
    }


    .clicable{
        cursor:pointer;
    }


    body {
        margin:0px;
        margin-bottom:15px;
        padding-top: 48px;
        padding-bottom: 20px;
        background-color: #d1d1d1;

        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    body p{
         font-family: Arial, Helvetica, sans-serif;

    }

    a:link {
      text-decoration: none;
      color:black;
    }

    a:visited {
      text-decoration: none;
      color:black;
    }

    a:hover {
      text-decoration: none;
      color:black;
    }

    a:active {
      text-decoration: none;
      color:black;
    }

    h1,h2,h3,h4,h5,h6{
        font-family: Arial, Helvetica, sans-serif;
        color: black;
          /*   text-align: center;*/
    }

    .lista {
        list-style-type: none;
        padding: 0px;

        border-style:solid;
        border-width:0px;
        border-radius:3px;

    }

    .lista li a {
        display: block;
        background-color: #f1f1f1;
        margin: 10px 0px;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;

        transition:0.2s;
        border-radius:3px;
    }

    .lista li a:hover {
        background-color: #555;
        color: white;
        box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.8), 0 6px 10px 0 rgba(0,0,0,0.8);
        border-radius:10px;
        border:0px solid black;
    }

    label{
        font-weight: bold ;
    }

    input, select, textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;

        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;

        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
        transition: 0.3s;
    }

    input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, select:focus, textarea:focus  {
      background-color: lightgreen;
      box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.8) , 0 6px 10px 1px rgba(0,0,0,0.8);
    }

     input[type=text]:hover, input[type=email]:hover, input[type=password]:hover , select:hover, textarea:hover {
      box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.8) , 0 6px 10px 1px rgba(0,0,0,0.8);
    }

    input[type=checkbox] {
        height:20px;
        width:20px;
    }

    input[type=submit]{
        background-color: #333;
        color: white;
        padding: 15px 32px;

        cursor: pointer;
        text-decoration: none;
        display: inline-block;

        border-style:solid;
        border-width:0px;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover{
        color: white;
        box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.8), 0 6px 10px 0 rgba(0,0,0,0.8);
    }

    .topnav {
        margin: 0;
        padding: 0;
        top:0;
        width: 100%;
        font-size: 25px;

        overflow: visible;
        background-color: #333;
        position: fixed;
    }

    .topbar-logo{
        width: 46px;
        height: 39px;
        overflow: hidden;
    }

    .topnav a {
        transition:0.2s;
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 12px 14px;
        text-decoration: none;

        font-family: Arial, Helvetica, sans-serif;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        transition:0.2s;
    }

    .dropdown .dropbtn{
        font-size: inherit;
        border: none;
        outline: none;
        background-color:inherit;
        color: white;
        padding: 12px 14px;
        font-family: inherit;
        margin: 0;
     }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display:none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 100%;
        right: 0;
        margin-right:1px;

        box-shadow:0px 0px 0px 2px rgba(0,0,0,0.8), 0px 8px 16px 0px rgba(0,0,0,0.2);
        font-family: 10px Arial, Helvetica, sans-serif;
        z-index: 1;

    }

    /* Links inside the dropdown */
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .sidenews {
        list-style-type: none;
        width: 15%;
        background-color: #f1f1f1;
        position: fixed;
        overflow-y: scroll;
        top: 53px;
        bottom: 25px;
        background-color: rgba(255,255,255,0.85);
    }

    .sidenews a {
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;

    }

    .sidenews a:hover {
      background-color: #555;
      color: white;
    }


    .feed-item-title{
        text-decoration:none;
        color:green;
    }


/*https://www.w3schools.com/howto/howto_css_two_columns.asp*/

    .flexrow {
        display: flex;
        align-content: center;
        flex-direction:row;
        border-bottom:1px solid black;
        transition:0.2s;
        padding: 10px 0px;
    }

    .flexside{
        flex:30%;

        margin: 10px;
        flex-direction:column;
        border-radius:2px;
        padding: 10px;
    }

    .flexside .smallflexside .background{
        background-color: #adadad;
        padding: 10px 10px;
    }
    .smallflexside{
        flex-basis:auto;

        margin: 10px;
        flex-direction:column;
        border-radius:2px;
        padding: 10px;
    }

    .flexmain {
        flex: 70%;
        padding: 10px;
        flex-direction:column;
    }


    .card {
        background-color:#f1f1f1;
        transition: 0.2s;
        text-decoration:none;

        padding:10px;
        margin:10px;
        border:0px solid black;
        border-radius: 4px;
    }

    .container {
        padding: 2px 16px;
    }

    .card .top{
        display: flex;
        width:inherit;
        overflow:hidden;
        text-overflow:ellipsis;
        font-size:20px;
        vertical-align: middle;

    }

    .card .content{
        font-size:20px
    }

    .vote{
        font-size:20px;
    }
    .vote img{
        width: 35px;
        height:20px;
    }

    .comment{

    }



    .footer {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 25px;
        background-color: #333;
        color: white;
        text-align: center;
    }

    .footer a {
        float:right;
        color: white;
        text-align: center;
        padding: 3px 16px;
        text-decoration: none;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
    }
