{% if request.user.is_authenticated %}

     <div class="sidenews">
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>Noticia1</a>
         <a>FIM</a>


    </div>