{% extends 'base.html' %}


{% block content %}
    <title>Adicionar Membro Grupo: {{ grupo.titulo }}</title>

<div  >
    <a style="text-decoration:none;" href="{% url 'grupo_view' grupo.id %}">
        <h1 > Grupo: {{ grupo.titulo }}</h1>
    </a>
</div>
        <p>Descrição: {{ grupo.descrição }}</p>

        <br><h1>Adicionar membro</h1></br>

        <form action="{% url 'adicionarmembros' grupo.id %}" method="post">
            {% csrf_token %}
            <table>
                {% for user in users %}
                    <tr>
                        <td>
                            <input type="checkbox" name="user" id="user{{ forloop.counter }}" value="{{ user.username }}"/>
                            <label for="user{{ forloop.counter }}"> {{ user.username }}</label>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td><input class="submit" type="submit" value="AdicionarMembros"></td>
                </tr>
            </table>
        </form>

{% endblock content %}
