{% extends 'base.html' %}


{% block content %}
    <title>Criar Grupo</title>
    <h1>Criar Grupo</h1>
        <form action="{% url 'criargrupo' %}" method="post">
            {% csrf_token %}
            <label for="1"><b>Titulo:</b></label>
                <input type="text" id="1" name="titulo">
            <br>
            <label for="2"><b>Descrição:</b></label>
                <input type="text" id="2" name="desc">
            <br>
            <br>
            <b>Adicionar utilizadores:</b>
            <br>
            {% for user in users %}
                <input type="checkbox" name="user" id="user{{ forloop.counter }}" value="{{ user }}" />
                <label for="user{{ forloop.counter }}"> {{ user }}</label>
                <br />
            {% endfor %}
            <input type="submit" value="Criar Grupo">
        </form>
{% endblock content %}
