{% extends 'base.html' %}


{% block content %}
    <title>Criar Publicação</title>

    <a href="{% url 'grupo_view' grupo.id %}"><h1> Grupo: {{ grupo.titulo }}</h1></a>
    <p>{{ grupo.descrição }}</p>

    <form action="{% url 'criarpublicacao' grupo.id %}" method="post">
            {% csrf_token %}
            <label for="titulo"><b>Titulo :</b></label>
                <input type="text" id="titulo" name="titulo">
            <br>
            <label for="conteudo"><b>Conteudo :</b></label>
        <br>
            <textarea id="conteudo" name="conteudo" rows="10" cols="50"></textarea>
            <br>
            <input type="submit" value="Publicar">
    </form>

{% endblock content %}
