<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <a href="{% url 'menu' %}"><h1>Quarantine</h1></a>
    <p>User: {{request.user.username}}</p>
</head>
 <a href="{% url 'grupo_view' grupo.id %}"><h1>{{ grupo.titulo }}</h1></a>
<p>{{ grupo.descrição }}</p>
<html>
    <form action="{% url 'criarpublicacao' grupo.id %}" method="post">
            {% csrf_token %}
            <label for="1"><b>Titulo :</b></label>
                <input type="text" id="1" name="titulo">
            <br>
            <label for="2"><b>Conteudo :</b></label>
        <br>
            <textarea id="2" name="conteudo" rows="10" cols="50"></textarea>
            <br>
            <input type="submit" value="Publicar">
    </form>

<html>