{% extends 'base.html' %}


{% block content %}
    <h1>Perfil de {{user.username}}</h1>

        <form action="{% url 'atualizarperfil' user.username %}" method="post">
            {% csrf_token %}
            <label for="username"><b>Username :</b></label>
                <input type="text" id="username" name="username" value={{user.username}}>
            <br>
            <label for="email"><b>Email :</b></label>
                <input type="email" id="email" name="email" value={{user.email}}>
            <br>
            <label for="password"><b>Password :</b></label>
                <input type="password" id="password" name="password" value={{user.username}}>
            <br>
            <input type="submit" value="Atualizar">
        </form>
{% endblock content %}
