<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <a href="{% url 'menu' %}"><h1>Quarantine</h1></a>
</head>


<html>
    <body>

        <h1>LOGIN</h1>

        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}

            <form action="{% url 'loginview' %}" method="post">
            {% csrf_token %}
            <label for="username"><b>Username :</b></label>
            <input type="text" id="username" name="username">
            <br>
            <label for="password"><b>Password :</b></label>
            <input type="password" id="password" name="password" autocomplete="off">
            <br>
            <input type="submit" value="Login">
        </form>
            <form action= "{% url 'registopage' %}" method="get">
            <input type="submit" value="Ir para Registo">
        </form>

    </body>
</html>

