{% extends 'base.html' %}


{% block content %}
    <title>Login</title>

        <h1>LOGIN</h1>

        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}

            <form action="{% url 'login_view' %}" method="post">
            {% csrf_token %}
            <label for="username"><b>Username :</b></label>
            <input type="text" id="username" name="username">
            <br>
            <label for="password"><b>Password :</b></label>
            <input type="password" id="password" name="password" autocomplete="off">
            <br>
            <input type="submit" value="Login">
        </form>
            <form action= "{% url 'registo_view' %}" method="get">
            <input type="submit" value="Ir para Registo">
        </form>

{% endblock content %}

