{% extends 'base.html' %}


{% block content %}
{% load static %}
                <a class="center center-align" href="{% url 'grupo_view' grupo.id %}"><h1>{{ grupo.titulo }}</h1></a>
<div class="flexrow">
    <div class="flexmain ">
        <div class="flexrow"style="border-width:0px;">
            <div class="flexmain"  >
                <h1>{{ pub.titulo }}</h1>
                <b>{{ pub.autor }}({{ pub.pub_data }})</b>
                <p>{{ pub.conteudo }}</p>
            </div>

        </div>
    </div>

    {% if candeletepub %}
    <div class="flexside ">
        <div class="flexrow background shadow-border">
            <div class="smallflexside center center-align" style="flex-direction:column;">

                <a class="vote" href="{% url 'votaruppub' grupo.id pub.id %}?next={{ request.path }}">
                    <img src="{% static 'quarantine/images/upvote.png' %}" alt="upvote">
                </a>

                <div><label>({{ pub.karma }})</label></div>

                <a class="vote" href="{% url 'votardownpub' grupo.id pub.id %}?next={{ request.path }}">
                    <img src="{% static 'quarantine/images/downvote.png' %}" alt="downvote">
                </a>

            </div>
            <div class="flexmain">
                <form action="{% url 'apagarpublicacao' grupo.id pub.id %}" method="get">
                    <input class="submit redback-hover" type="submit" value="Apagar Publicação">
                </form>
                {% if error_message %}
                <strong>{{ error_message }}</strong>
                {% endif %}</div>
        </div>

    </div>
    {% endif %}

</div>

<div class="flexrow">
    <div class="flexmain ">
        <h2>Comentarios:</h2>
        {% if comentarios %}

        {% for comentario in comentarios %}

        <div class="card shadow-border">
            <div class="top flexrow">
                <div class="top">
                    <label style="vertical-align: middle;">{{ comentario.autor }} </label>


                </div>

                <div class="vote flexside" style="float:right">
                    <div style="float:right"><a href="{% url 'votarupcom' grupo.id pub.id comentario.id %}?next={{ request.path }}">
                        <img src="{% static 'quarantine/images/upvote.png' %}" alt="upvote">
                    </a>

                        <label>({{ comentario.karma }})</label>

                        <a href="{% url 'votardowncom' grupo.id pub.id comentario.id %}?next={{ request.path }}">
                            <img src="{% static 'quarantine/images/downvote.png' %}" alt="downvote">
                        </a></div>
                </div>

            </div>
                <label >({{ comentario.pub_data }})</label>

            <div class="content flexrow">{{ comentario.conteudo }}</div>

            {% if request.user.id == comentario.autor.id or isadmin %}

            <form action="{% url 'apagarcomentario' grupo.id pub.id comentario.id %}"
                  method="get">

                <input class="submit redback-hover shadow-border" style="" type="submit" value="Apagar">
            </form>


            {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <p>Nao ha comentarios.</p>
        {% endif %}


    </div>

    <div class="flexside">
        <div class="background shadow-border">
            <form action="{% url 'publicarcomentario' grupo.id pub.id%}?next={{ request.path }}" method="post">
                {% csrf_token %}
                <textarea name="conteudo" rows="10" cols="50"></textarea>
                <br>
                <input class="submit greenback-hover" type="submit" value="Publicar comentario">
            </form>
        </div>


    </div>
</div>


{% endblock content %}