<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <a href="{% url 'menu' %}"><h1>Quarantine</h1></a>
</head>

<h1>REGISTO</h1>
<html>
    <body>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        <form action="{% url 'registview' %}" method="post">
            {% csrf_token %}
            <label for="1"><b>Username :</b></label>
                <input type="text" id="1" name="username">
            <br>
            <label for="2"><b>Email :</b></label>
                <input type="email" id="2" name="email">
            <br>
            <label for="3"><b>Password :</b></label>
                <input type="password" id="3" name="password">
            <br>
            <input type="submit" value="Registo">
        </form>

    </body>
      <form action= "{% url 'loginpage' %}" method="get">
            <input type="submit" value="Ir para Login">
     </form>
</html>


