{% extends 'base.html' %}


{% block content %}
    <title>Remover Membro Grupo: {{ grupo.titulo }}</title>

    <a href="{% url 'grupo_view' grupo.id %}"><h1> Grupo: {{ grupo.titulo }}</h1></a>
        <p>Descrição: {{ grupo.descrição }}</p>

        <br><h1>Remover membro</h1></br>
        <form action="{% url 'removermembros' grupo.id %}" method="post">
            {% csrf_token %}
            {% for user in users %}

                <input type="checkbox" name="user" id="user{{ forloop.counter }}" value="{{ user }}" />
                <label for="user{{ forloop.counter }}"> {{ user }}</label>
                <br />
            {% endfor %}
            <input type="submit" value="RemoverMembros">

        </form>

{% endblock content %}