{% extends 'base.html' %}


{% block content %}
{% load static %}
<title>Sobre</title>



<div class="card shadow-border">
    <flexrow style="border-bottom:1px solid black;">
            <img style="width:100%; height:auto; " src="https://www.iscte-iul.pt/assets/files/2018/12/19/1545219607461_ISCTEIULNormasLogos_01.png">
    </flexrow>
    <flexrow>
        <flexmain><p>Este website foi realizado no âmbito da cadeira de Programação em Rede</p>
        </flexmain>


    </flexrow>




</div>




{% endblock %}
