{% extends 'base.html' %}


{% block content %}
{% load static %}
<title>Sobre</title>



<div class="card shadow-border">
    <flexrow style="border-bottom:1px solid black;">
            <img style="width:100%; height:auto; " src="https://www.iscte-iul.pt/assets/files/2018/12/19/1545219607461_ISCTEIULNormasLogos_01.png">
    </flexrow>
    <flexrow>
        <flexmain><p>Este website foi realizado no âmbito da cadeira de Programação em Rede</p>
            <p>Com o maior recolhimento da população devido à atual quarentena, achámos que seria uma boa ideia criar um sítio onde as pessoas se pudessem manter em contacto e interagir umas com as outras,além de se manterem informadas.
            <br>Por isso decidimos criar uma espécie de fórum online, que inclui um feed de notícias.
            </p>
        </flexmain>


    </flexrow>




</div>




{% endblock %}
