{% extends 'base.html' %}


{% block content %}
    <title>Login</title>


        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <table class="center left-align" style="margin-top:10px;">
            <h1 class="center-align">Login</h1>
            <form class="form" method="post">
                {% csrf_token %}
                {% for field in login_form %}
                    <tbody>
                        <tr>
                            <td>{{field.label_tag}}</td>
                        </tr>
                        <tr>
                            <td>{{field}}</td>
                        </tr>

                        {% if field.help_text %}

                            <tr>
                                <td><small style="color: grey;">{{field.help_text}}</small></td>
                            </tr>

                        {% endif %}

                    </tbody>
                {% endfor %}
                    {% for field in login_form %}
                        {% for error in field.errors %}
                        <tbody>
                            <tr>
                                <td><small style="color: red;">{{error}}</small></td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    {% endfor %}

                {% if login_form.non_field_errors %}
                <tbody>
                    <tr>
                        <td><p style="color:red;">{{login_form.non_field_errors}}</p></td>
                    </tr>
                </tbody>
                {% endif %}
                <tbody>
                    <tr>
                        <td><input class="input greenback-hover center" type="submit" value="Log in"></input></td>
                    </tr>
                </tbody>
            </form>
        <tbody>
            <tr>
                <td>
                    <form action="{% url 'password_reset' %}" method="get">
                        <input class="input redback-hover" type="submit" value="Redifinir Password">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>






{% endblock content %}

