{% extends 'base.html' %}


{% block content %}
    <title>Perfil: {{account.username}}</title>

    <h1>Perfil de {{account.username}}</h1>
    <div>

        <div style="height:200px; position:relative;">
            <div style="float: left;">
                <img style="width: auto; height:auto; max-height: 200px; max-width: 200px;" src={{account.fotoPerfil}} alt="profile pic">
            </div>
            <div style="float: left;">
                <p >Username: {{account.username}}</p>
                <p >E-mail: {{account.email}}</p>
            </div>
        </div>

        <div style="position:relative;">
            {% if request.user.id == account.id %}
            <p>
                <form action="{% url 'account_settings' request.user.username %}" method="get">
                    <input class="submit" type="submit" value="Atualizar conta">
                </form>
            </p>
            <p>
                <form action="{% url 'password_change' request.user.username %}" method="get">
                    <input class="submit" type="submit" value="Alterar Password">
                </form>
            </p>


            {% endif %}
        </div>
    </div>

{% endblock content %}
