{% extends 'base.html' %}


{% block content %}
    <title>Registo</title>

    <h2>Registo</h2>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form class="form" method = "post">
        {% csrf_token %}

        <table>
            {% for field in registration_form %}
                <tbody>
                    <tr>
                        <td>{{field.label_tag}}</td>
                    </tr>
                    <tr>
                        <td>{{field}}</td>
                    </tr>

                    {% if field.help_text %}
                        <tr>
                            <td><small style="color: grey;">{{field.help_text}}</small></td>
                        </tr>
                    {% endif %}

                    {% for error in field.errors %}
                        <tr>
                            <td><small style="color: red;">{{error}}</small></td>
                        </tr>
                    {% endfor %}

                {% endfor %}
                <tr>
                    <td><button type="submit">Register</button></td>
                </tr>

            </tbody>
        </table>

    </form>


    <!--
    <form action="{% url 'registo_view' %}" method="post">
        {% csrf_token %}
        <label for="1"><b>Username :</b></label>
            <input type="text" id="1" name="username">
        <br>
        <label for="2"><b>Email :</b></label>
            <input type="email" id="2" name="email">
        <br>
        <label for="3"><b>Password :</b></label>
            <input type="password" id="3" name="password">
        <br>
        <input type="submit" value="Registo">
    </form>
    -->



{% endblock content %}