
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'quarantine/style.css' %}">

    <div class="topnav">

        <a class="greenback padding-hover" style="width:15%; padding: 12px 0px; " href="{% url 'menu' %}"> Quarantine</a>
        {% if request.user.is_authenticated %}
        <a class="padding-hover greyback-hover" href= "{% url 'gruposutilizador' %}">Seus grupos</a>
        <a class="padding-hover greyback-hover" href= "{% url 'grupospublicos' %}">Grupos públicos</a>
        <a class="padding-hover greyback-hover" href= "{% url 'gruposprivados' %}">Grupos privados</a>
        <div style="float:right" class="dropdown">
            <button  class="greenback-hover dropbtn" style="font-size:">{{request.user.username}}
            </button>
            <div class="dropdown-content">
                    <a class=" greenback-hover" href="{% url 'perfilutilizador' request.user.username %}">Profile</a>
                    <a class=" redback-hover" href="{% url 'logout_view' %}"> Logout</a>
            </div>
        </div>
        {% else %}
            <a class="greenback-hover" style="float:right" href="{% url 'login_view' %}"> Login</a>
            <a class="greenback-hover" style="float:right" href="{% url 'registo_view' %}"> Registo</a>
        {% endif %}
    </div>

</head>

<body>
{% if request.user.is_authenticated %}

     <div class="sidenews">

        <script src="//rss.bloople.net/?url=https%3A%2F%2Fwww.google.pt%2Falerts%2Ffeeds%2F00537780355070238321%2F7547967673187040234&showtitle=false&type=js"></script>

    </div>
{% endif %}
{% if request.user.is_authenticated %}
    <div style="margin-left:15%;padding:1px 16px;  ">
{% else %}
    <div style="padding:0px 0px;  ">
{% endif %}
         {% block content %}
         {% endblock content %}
    </div>


</body>

<footer>
    <div class="footer">
        <a class="greenback-hover" href="contactos">Contactos</a>
        <a class="greenback-hover" href="sobre">Sobre</a>
    </div>
</footer>

</html>